.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.card {
  width: 180px;
  /* height: 320px; */
  height: 300px;
  background: rgba(225, 225, 225, 0.4);
  overflow: hidden;
  backdrop-filter: blur(5px);
  border-radius: 2px;
  cursor: pointer;
}
.card-1 {
  /* background: url('../img/37.jpg') no-repeat center center/cover; */
  background: url('../img/infinity\ gauntlet\ card.png') no-repeat center
    center/cover;
}
.card-2 {
  /* background: url('../img/33.jpg') no-repeat center center/cover; */
  background: url('../img/stark\ tower\ card.png') no-repeat center center/cover;
}

.dice-container {
  background: rgba(225, 225, 225, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 60px;
  width: 100px;
  padding: 20px;
}
