.main-container {
  font-family: 'STIX Two Math', serif;
  display: grid;
  grid-template-areas:
    'header header header header header header header header header'
    'left board board board board board board board  right';
  grid-gap: 1rem;
  height: 100vh;
  background: url('../img/4127298.jpg') no-repeat center center/cover;
  color: #fff;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: header;
  text-align: center;
  /* border: 2px dashed #111; */
  height: 200px;
}
.arcadium-logo {
  width: 340px;
}
.all-teams {
  /* background: rgba(225, 225, 225, 0.4); */
  overflow: hidden;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin: auto;
}

.left-dashboard {
  position: relative;
  top: -30px;
  left: 20px;
  grid-area: left;
  text-align: center;
  /* background: rgba(225, 225, 225, 0.4); */
  overflow: hidden;
  border-radius: 10px;
  width: 220px;
  height: 600px;
  margin-left: 20px;
}
.main-board {
  grid-area: board;
  text-align: center;
}
.nav-toggle {
  margin: 0 auto;
  margin-top: 20px;
  right: 0px;
}
.right-dashboard {
  grid-area: right;
  text-align: center;
}
