.main-container {
  font-family: 'STIX Two Math', serif;
  display: grid;
  grid-template-areas:
    'header header header header header header header header right'
    'left board board board board board board board  right';
  grid-gap: 1rem;
  height: 100vh;
  background: url('../img/4127298.jpg') no-repeat center center/cover;
  color: #fff;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: header;
  text-align: center;
  /* border: 2px dashed #111; */
  height: 200px;
  margin-bottom: 0px;
  margin-top: 0;
}
.arcadium-logo {
  width: 340px;
  position: relative;
  left: -480px;
  top: -20px;
}
.all-teams {
  /* background: rgba(225, 225, 225, 0.4); */
  overflow: hidden;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin: 10px 0px;
  margin-left: 90px;
  padding: 5px;
}
.all-teams h1{
  margin: 5px auto 15px;
}

.left-dashboard {
  position: relative;
  top: -30px;
  left: 30px;
  grid-area: left;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  width: 220px;
  height: 560px;
  margin-left: 20px;
  padding: 0 10px;
  background-color: #21219d52;
}
.main-board {
  grid-area: board;
  text-align: center;
}
.nav-toggle {
  margin: 0 auto;
  margin-top: 20px;
  right: 0px;
}
.right-dashboard {
  grid-area: right;
  text-align: center;
}
