.team-members,
.team-detail-name,
.balance,
.debt,
.properties {
  margin: 0 10px;
  margin-top: 10px;
  color: #111;
  background: rgba(255, 255, 255, 1);
  padding: 10px 0;
  border-radius: 10px;
}

.details-heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.details-heading span {
  font-weight: 400;
}

h2,
p {
  margin: 0;
}
