.teams-list {
  font-family: 'STIX Two Math', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 8px 0;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #21219d52;
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.teams {
  display: flex;
  flex-direction: column;

}
.team {
  display: flex;
  flex-direction: row;
  width: 80px;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  background: #101042;
  box-shadow: -1px -1px 4px #6F70AC, 4px 4px 6px #090917;
  margin-bottom: 15px;
  align-items: center;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-buttons button {
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 20px;
  border: transparent;
  border-radius: 6px;
  font-size: 0.8rem;
  background: #101042;
  box-shadow: -4px -4px 4px #6F70AC, 4px 4px 6px #090917;
  border-radius: 11px;
  color: #fff;
  margin-right: 20px;
  margin-top: 5px ;
}
