.popUp {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 860px;
  height: 500px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  /* border: 10px solid rebeccapurple; */
  /* backdrop-filter: ; */
  z-index: 100;
}
.closeModal {
  position: relative;
  top: 16px;
  left: 95%;
  background-color: transparent;
  border: none;
}

.closeModal i {
  background: transparent;
  color: #fff;
}

.modalContainer {
  display: flex;
  flex-direction: row;
}
.imgProperty {
  position: relative;
}
.imgProperty .tiles {
  position: relative;
  top: 110px;
  left: -40px;
  transform: rotateZ(90deg);
  height: 220px;
}
.imgProperty .corner {
  position: relative;
  top: 80px;
  left: 40px;
  height: 300px;
  margin-right: 120px;
}
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  color: #fff;
  background-color: rgb(17, 17, 17);
  border-radius: 10px;
  padding: 10px 40px;
  margin-top: 80px;
}
.propName {
  margin-top: 0;
}
